asgiref==3.11.1
black==26.3.1
cffi==2.0.0
click==8.3.2
crispy-bootstrap4==2026.2
cryptography==46.0.6
Django==6.0.3
django-axes==8.3.1
django-crispy-forms==2.6
django-environ==0.13.0
django-fernet-encrypted-fields==0.3.1
django-formtools==2.5.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-two-factor-auth==1.18.1
factory_boy==3.3.3
Faker==40.15.0
freezegun==0.3.4
mypy_extensions==1.1.0
numpy==2.4.4
packaging==26.0
pandas==3.0.2
parameterized==0.9.0
pathspec==1.0.4
pillow==12.2.0
platformdirs==4.9.4
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg-pool==3.3.0
pycparser==3.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
qrcode==8.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
