{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<h1>Sign Up to be a Mentor</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.first_name|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.last_name|as_crispy_field }}
    </div>
  </div>
  {{ form.email|as_crispy_field }}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.current_occupation|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.year_of_study|as_crispy_field }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.specialty|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.country|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 mb-0">
      {{ form.year_applied|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.entrance_exam_experience|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.interview_experience|as_crispy_field }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.interests|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{form.hear_about_us|as_crispy_field }}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
