<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    <link rel="shortcut icon" type="image/png" href="{% static 'mentorship/images/favicon.png' %}"/>
    <title>
        {{ page_title }}
    </title>
</head>
<body class="bg-light min-vh-100" >
<img src="{% static 'mentorship/images/favicon.png' %}" width="300" height="300"/>
<div class="container p-5">{% block content %} {% endblock %}</div>
</body>
<footer class="text-center text-white page-footer">
    <!-- Copyright -->
    <div class="text-center text-white p-3 bg-secondary">
        © 2023 Copyright:
        <a class="text-white" href="https://www.acmedicalmentors.co.uk/">African Caribbean Medical Mentors </a> | ALL RIGHTS RESERVED |
     Registered charity number: 1190968
    </div>
</footer>
</html>