{% extends 'mentorship/base.html' %} {% load crispy_forms_tags %} {% block content %}{% load static %}
<div class="mb-2 bg-white text-dark rounded">
  <div class="p-3 bg-secondary text-white rounded-top">
    <h1>Mentor Sign-Up</h1>
    <p>
      <br />
      Thank you for your willingness to sign up as a mentor and support a
      student through their medical/dental school application! You will receive
      training and resources to equip you in your role, an opportunity to become
      the 'mentor of the year' and a certificate for your portfolio. As well as
      this, you will have the opportunity to guide a prospective medicine/dental
      student through their application process which is highly rewarding.
      Applications are open until the 30th of April 2025 This commitment is for
      one year.
      <br />
      If you require more information, please see our
      <strong
        ><a href="//www.acmedicalmentors.co.uk/mentoring" class="text-white">
          website</a
        >:</strong
      >
      If you require further assistance please contact:
      <a href="saskia@acmedicalmentors.co.uk" class="text-white">Dr Saskia Bernard</a>
    </p>
  </div>
  <form id="profile-form" method="post">
    {% csrf_token %}
    <div class="p-3">
      <h4>Personal Information</h4>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.last_name|as_crispy_field }}
        </div>
              <div class="form-group col-md-6 mb-0">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.number|as_crispy_field }}
        </div>
        <div class="form-group mb-0">
          {{ form.contact_consent|as_crispy_field }}
        </div>
      </div>

      <hr class="my-4" />

      <h4>Background Information</h4>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.occupation|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.year_applied|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.entrance_exam_experience|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.interview_experience|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.area_of_support|as_crispy_field }}
        </div>
          <div class="form-group col-md-12 mb-0">
          {{ form.wp_scheme|as_crispy_field }}
        </div>
            <div class="form-group col-md-12 mb-0">
          {{ form.applied_before|as_crispy_field }}
        </div>
      </div>
          {{ form.additional_info|as_crispy_field }}
    </div>
    
    <div class="form-row col-md-12 mb-0">
    <div class="form-group col-md-12 mb-0">
          {{ form.hear_about_us|as_crispy_field }}
        </div></div>
    <div class="form-row p-3">{{ form.tcs_check|as_crispy_field }}</div>
    <div class="form-row p-3">
      <button id="signup" type="submit" class="btn btn-secondary btn-lg">
        Join Us !
      </button>
    </div>
    {{ form.honeypot|as_crispy_field }}
  </form>
</div>

<script src="{% static 'mentorship/js/QualificationFormset.js' %}"></script>
{% endblock %}
