{% extends 'mentorship/base.html' %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Thank You!</h1>
    <p class="lead">Thank you for your interest in ACMM however due to high volume of applications we must prioritize applicants applying this year.We hope to hear from you soon next year.</p>
    <hr class="my-4">
    <p>If you are interested our schemes or just want to find out more please go to our website. </p>
    <p class="lead">
      <a class="btn btn-secondary btn-lg" href="https://www.acmedicalmentors.co.uk/" role="button">Learn more</a>
    </p>
  </div>
{% endblock %}