<form id="profile-form" method="post">

    {% csrf_token %} {{qualification_formset.management_form}}
    <div>
        {% for form in qualification_formset %}
        <div class="qualification-form">
            {{form}}
            <button class="delete-qualification-form" type="button">Delete</button>
        </div>
        </div>
        {% endfor %}
    </div>
    <button id="add-qualification-form" type="button">Add Another Qualification</button>

</form>
<script>
    let mainForm = document.querySelector("#profile-form");
    let qualificationForm = document.getElementsByClassName("qualification-form");

    let addButton = document.querySelector("#add-qualification-form");
    let qualificationFormCount = qualificationForm.length - 1;
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

    addButton.addEventListener('click', function(e){
            e.preventDefault();
            console.log(addButton)
            let newQualificationForm = qualificationForm[0].cloneNode(true);
            console.log(newQualificationForm)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')
            qualificationFormCount++
            newQualificationForm.innerHTML = newQualificationForm.innerHTML.replace(formRegex, `form-${qualificationFormCount}-`);
  
            mainForm.insertBefore(newQualificationForm, addButton)
            
            totalForms.setAttribute('value', `${qualificationFormCount+1}`)
        });

    mainForm.addEventListener('click',function(event){
        if (event.target.classList.contains("delete-qualification-form")) {
            event.preventDefault();
            event.target.parentElement.remove();
     
            
            //formCount--;
        //updateForms();
        //totalForms.setAttribute('value', `${formCount + 1}`);
    }
        
    });



</script>
